Flask==2.2.2
Flask_RESTful==0.3.9
curl -X GET http://localhost:12345/api/relay/1
curl -X PUT --header "Content-Type: application/json" http://localhost:12345/api/relay/1 -d '{"action": "switchon"}'
python3 tppo_server_rest_2422.py -a localhost -p 12345
